table, td, th {
  border: 1px solid black;
}

table {
  /* width: 100%; */
  width: auto;
  border-collapse: collapse;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  align: center;
}
